<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments :: headerfiles">
    <title>Nuevo Usuario</title>
</head>
<body>
<header th:insert="fragments :: nav"></header>
	<div class="container">
	    <div class="row">
	        <div class="col-xs-3 col-sm-2 container-img" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/sellForm}">
	            <img class="imgindex" alt="configuracion.jpg" src="/img/nav/configuracion.jpg" th:href="@{/sellForm}">
	            <div class="texto" th:href="@{/sellForm}">
	            	<a class="titulo" th:text="#{navbar.configuration}" th:href="@{/sellForm}"></a>
	            </div>
	        </div>
	        <div class="col-xs-3 col-sm-2 container-img">
	            <img class="imgindex" title="Caja" alt="caja.jpg" src="/img/nav/caja.jpg">
	            <div class="texto">
	            	<h5 class="titulo" th:text="#{navbar.seller.sales}"></h5>
	            </div>
	        </div>
	        <div class="col-xs-3 col-sm-2 container-img">
	            <img class="imgindex" alt="inventario.png" src="/img/nav/inventario.png">
	            <div class="texto">
	            	<h5 class="titulo" th:text="#{navbar.reports.inventory}"></h5>
	            </div>
	        </div>
	        <div class="col-xs-3 col-sm-2 container-img">
	            <img class="imgindex" alt="devoluciones.jpg" src="/img/nav/devoluciones.jpg">
	            <div class="texto">
	            	<h5 class="titulo" th:text="#{navbar.administration.return.sale}"></h5>
	            </div>
	        </div>
	        <div class="col-xs-3 col-sm-2 container-img">
	            <img class="imgindex" alt="temperatura.jpg" src="/img/nav/temperatura.jpg">
	            <div class="texto">
	            	<h5 class="titulo" th:text="#{navbar.sgc.temperature}"></h5>
	            </div>
	        </div>
	        <div class="col-xs-3 col-sm-2 container-img">
	            <img class="imgindex" alt="residuos.jpg" src="/img/nav/residuos.jpg">
	            <div class="texto">
	            	<h5 class="titulo" th:text="#{navbar.sgc.waste}"></h5>
	            </div>
	        </div>
	        <div class="col-xs-3 col-sm-2 container-img">
	            <img class="imgindex" alt="limpiezayde.jpg" src="/img/nav/limpiezayde.jpg">
	            <div class="texto">
	            	<h5 class="titulo" th:text="#{navbar.sgc.cleaning}"></h5>
	            </div>
	        </div>
	        <div class="col-xs-3 col-sm-2 container-img" sec:authorize="hasRole('ROLE_ADMIN')">
	            <img class="imgindex" alt="cargarinventario.jpg" src="/img/nav/cargarinventario.jpg">
	            <div class="texto">
	            	<h5 class="titulo" th:text="#{navbar.configuration.load.inventory}"></h5>
	            </div>
	        </div>
	        <div class="col-xs-3 col-sm-2 container-img">
	            <img class="imgindex" alt="recargas.jpg" src="/img/nav/recargas.jpg">
	            <div class="texto">
	            	<h5 class="titulo" th:text="#{navbar.provider.rechargue}"></h5>
	            </div>
	        </div>
	        <div class="col-xs-3 col-sm-2 container-img" sec:authorize="hasRole('ROLE_ADMIN')">
	            <img class="imgindex" alt="droxid.png" src="/img/nav/droxid.png">
	            <div class="texto">
	            	<h5 class="titulo" th:text="#{navbar.provider.droxi}"></h5>
	            </div>
	        </div>
	      	<div class="col-xs-3 col-sm-2 container-img" sec:authorize="hasRole('ROLE_ADMIN')">
	            <img class="imgindex" alt="logoroma.png" src="/img/nav/logoroma.png">
	            <div class="texto">
	            	<h5 class="titulo" th:text="#{navbar.provider.roma}"></h5>
	            </div>
	        </div>
	    </div>
	</div>
	<footer th:insert="fragments.html::footer"></footer>
</body>
</html>